<div>
    <span>Show: </span>
    <FilterLink FilterType="@VisibilityFilterType.ShowAll">
        All
    </FilterLink>
    <FilterLink FilterType="@VisibilityFilterType.ShowActive">
        Active
    </FilterLink>
    <FilterLink FilterType="@VisibilityFilterType.ShowCompleted">
        Completed
    </FilterLink>
</div>